@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: url(../img/background.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main header {
    width: 80%;
    height: auto;
    display: flex;
    position: relative;
    top: 20px;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    margin: auto;
    padding: 10px;
    margin-bottom: 20px;
}

.main header nav {
    gap: 50px;
    width: auto;
    height: auto;
    display: flex;
}

.main header nav li {
    list-style: none;
}

.main header nav li a {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    text-decoration: none;
    transition: .6s ease;
}

.main header nav li a::after {
    content: '';
    width: 0px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: .3s ease-in-out;
    border-bottom: 2.5px solid #fff;
}

.main header nav li a:hover::after {
    width: 100%;
}

.main header span {
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    cursor: pointer;
}

.main header .login {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding: 9px 40px;
    text-decoration: none;
    white-space: middle;
    border: 1px solid #fff;
    border-radius: 9px;
    transition: .6s ease;
}

.main header .login:hover {
    color: #162938;
    background-color: rgba(255, 255, 255, 0.6);
}

/* Container */
.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.container-form {
    width: 23.5%;
    height: auto;
    padding: 45px 45px 45px 45px;
    border-radius: 26px;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: 1s ease;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.6);
    box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.4),
                15px  15px 15px rgba(255, 255, 255, 0.3);
}

.view-active {
    opacity: 1;
    transition: .6s ease;
}

.form-login {
    transform: translateX(0%);
    opacity: 1;
    position: absolute;
    transition: transform 1s ease, opacity 1s ease;
}

.form-register {
    transform: translateX(100%);
    opacity: 0;
    position: absolute;
    transition: transform 1s ease, opacity 1s ease;
}

.form-login-active {
    transform: translateX(0%);
    opacity: 1;
}

.form-login-hidden {
    transform: translateX(-100%);
    opacity: 0;
}

.form-register-active {
    transform: translateX(0%);
    opacity: 1;
}

.form-register-hidden {
    transform: translateX(100%);
    opacity: 0;
}

.botonCloset {
    width: 36px;
    height: 36px;
    position: absolute;
    top: 2%;
    left: 90%;
    background-color: #162938;
    border: transparent;
    border-radius: 50%;
    cursor: pointer;
}

.description-form {
    width: 100%;
    height: auto;
    margin: 0px 0px 40px;
}

.description-form h1 {
    color: #162938;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
}

.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.input {
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
    position: relative;
}

.input input {
    width: 100%;
    height: 52px;
    padding: 15px 3px 10px;
    font-size: 16px;
    font-weight: 500;
    text-align: start;
    color: #1a1a1a;
    border: none;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    border-bottom: 2px solid #162938;
    background: transparent;
    transition: .6s ease;
    z-index: 1;
}

.input input::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 0px;
    border-bottom: 1px solid #fff;
    transition: .6s ease;
}

.input input:hover::after {
    width: 100%;
}

.form .input box-icon {
    cursor: pointer;
    position: absolute;
    right: 1%;
    line-height: 4;
}

.form .input input:focus {
    outline: none;
    border-bottom: 2px solid #1a1a1a;
}

::placeholder {
    color: #162938;
    font-size: 16px;
    font-weight: 600;
    text-align: start;
}

.container-checkbox {
    gap: 20px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    display: flex;
    margin-top: -10px;
    margin-bottom: 20px;
    justify-content: space-between;
}

.checkbox  {
    gap: 10px;
    display: flex;
    cursor: pointer;
}

.checkbox span {
    color: #162938;
    font-size: 16px;
    font-weight: 400;
}

.container-checkbox a {
    color: #162938;
    font-size: 16px;
    font-weight: 600;
    text-align: end;
    text-decoration: none;   
}

.submit {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    white-space: middle;
    cursor: pointer;
    padding: 20px;
    border-radius: 10px;
    background-color: #162938;
    border: 1px solid transparent;
    transition: .6s ease;
    margin: 0px 0px 25px;
}

.register {
    gap: 5px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.register span {
    color: #162938;
    font-size: 16px;
    font-weight: 400;
    text-align: start;
}

.register a {
    color: #162938;
    font-size: 16px;
    font-weight: 700;
    text-align: start;
    text-decoration: none;
}

